<div class="employee-details-container">
    <h1>Employee</h1>
    <div class="employee-details-box">
        <div class="detail-row">
            <label>ID: <b>{{employee.id}}</b></label>
        </div>
        <div class="detail-row">
            <label>First Name: <b>{{employee.firstName}}</b></label>
        </div>
        <div class="detail-row">
            <label>Last Name: <b>{{employee.lastName}}</b></label>
        </div>
        <div class="detail-row">
            <label>Salary: <b>{{employee.salary}}</b></label>
        </div>
    </div>
</div>
